button, a.button {
  display: flex;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid $color-button-border;
  border-radius: 4px;
  height: 3rem;
  font-size: 1.5rem;
  z-index: 1;
  background-color: transparent;
  color: $color-button;
  transition: color 0.5s ease-in-out, border 0.3s ease-in-out, background 0.3s ease-in-out;

  &:hover, &:focus {
    color: $color-button-active;
    background-color: $bg-button-active;
    border-color: 2px solid $color-button-border-active;
  }

  &.alt {
    color: $color-button-alt;
    background-color: $bg-button-alt;
    border: 2px solid $color-button-border-alt;

    &:hover, &:focus {
      color: $color-button-active-alt;
      background-color: $bg-button-active-alt;
      border-color: 2px solid $color-button-border-active-alt;
    }
  }

  &.slide {
    &:before {
      content: '';
      transition: width 0.35s ease-in-out;
      z-index: -1;
      left: 0;
      position: absolute;
      height: 100%;
      width: 0;
      background-color: $bg-button-active;
    }

    &.alt {
      &:before {
        background-color: $bg-button-active-alt;
      }
    }

    &:focus, &:hover {
      background-color: inherit;

      &:before {
        width: 100%;
      }
    }
  }
}

.button-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  button, .button {
    margin: 10px 10px;
  }
}
