button {
  transition: 0.3s;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: $bg-brand-primary;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  height: 3rem;
  font-size: 1.5rem;
  padding: 5px 15px;

  &:focus, &:hover {
    background-color: lighten($bg-brand-primary, 10%);
    cursor: pointer;
  }
}