$gdpr-banner-close-button-color: red !default;
$gdpr-banner-accept-button-bg: green !default;
$gdpr-banner-review-button-bg: red !default;
$gdpr-banner-button-color: #fff !default;

.gdpr-cookie-manager {
  background-color: #fff;
  display: flex!important;
  flex-direction: column;
  @include breakpoint-md-plus {
    flex-direction: row;
  }
  select {
    border-radius: 0;
  }

  button {
    &.gdpr-cookie-manager__submit-button {
      width: 100%;
      border-radius: 0;
    }
  }
  .gdpr-cookie-manager__cookie-item {
    border-bottom: 1px solid #e3e3e3;
    padding-top: 5px;
    padding-bottom: 5px;
    &:before, &:after {
      content: none !important;
    }
  }

  .gdpr-cookie-manager__group-list-entry {
      background-color: #e0e0e0;
    &.gdpr-cookie-manager__group-list-entry--active {
      background-color: #fff;
      color: lightblue;
    }
  }

  .gdpr-cookie-manager__groups {
    .gdpr-cookie-manager__group-list {
      .select2 {
        margin: 5px 0;
        width: 100%!important;
        .select2-selection--single {
          border: 1px solid #e3e3e3;
        }
      }

    }
  }
  .gdpr-cookie-manager__content {
    padding: 5px 10px;
    overflow-x: hidden;
    .gdpr-cookie-manager__cookies {
      overflow-x: auto;
    }
  }
  .gdpr-cookie-manager__item-details-table {
    th {
      text-align: left;
      background-color: #fff;
    }
    tbody {
      tr {
        &:nth-of-type(2) {
          background-color: #eee;
        }
      }
    }
  }

  .gdpr-cookie-manager__cookie {
    flex-direction: column;
    .gdpr-cookie-manager__cookie-toggle {
      flex: 0 0 40px;
      .tgl:checked + .tgl-btn {
        background: $color-green;
      }
    }
    @include breakpoint-xs-plus {
      flex-direction: row;
      .gdpr-cookie-manager__cookie-toggle {
        flex: 0 0 100px;
      }
    }
  }
}


.gdpr-banner {
  position: fixed;
  //min-height: 30vh;
  bottom:0;
  z-index: $z-index-exceptional;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.45);
  color: #666;

  .message {
    text-align: left;
    a {
      &.settings {
        text-decoration: none;
        color: $bg-brand-primary;
      }
    }
  }
  .buttons {
    text-align: right;
    .opt-in {
      button {
        transition: background-color 0.5s;
        background-color: rgba(#fff, 1);
        font-size: 1rem;
        color: $color-green;
        &:hover, &:focus {
          background-color: rgba($color-green, 0.3);
          color: #fff;
        }
        color: $color-green;
        border: 2px solid $color-green;
      }
    }
  }
}