
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: flex;
}

nav {
  &.slideout-menu {
    &.slideout-menu-right {
      box-shadow: inset 4px 0px 5px 0px rgba(0, 0, 0, 0.25);
    }
    &.slideout-menu-left {
      box-shadow: inset -4px 0px 5px 0px rgba(0, 0, 0, 0.25);
    }
    background-color: $bg-slideout-menu;
    position: fixed;
    left: auto; // auto for slide from right, 0 for slide from left
    top: 0; //120px; // compensate for fixed immovable header
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 240px;
    padding-top: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
    ul {
      padding-left: 0;
      margin: 0;
      li {
        list-style: none;
        a {
          outline: none; // Using border bottom on focus to maintain accessibility
          text-decoration: none;
          display: block;
          padding: 5px 15px;
          color: $color-slideout-menu;
          transition: background-color 0.1s ease-in-out;
          &:hover, &:focus {
            box-shadow: inset 4px 0px 5px 0px rgba(0, 0, 0, 0.25);
            background-color: $bg-slideout-menu-highlighted;
            color: $color-slideout-menu-highlighted;
          }
        }
        &.active {
          a {
            color: $color-slideout-menu-active;
            &:hover, &:focus {
              color: $color-slideout-menu-highlighted;
            }
          }
        }
      }
    }
  }
}