html {
  // Font size set by normalize scss
}

body {
  // Font family set by normalize scss
  font-weight: $font-weight-regular;
  font-size: $font-size;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}
