
/// Typography ///

$font-sans-serif:  "Roboto", Helvetica, Verdana, sans-serif;
$font-serif: Merriweather, Georgia, 'Times New Roman', serif;
$font-mono: 'Source Code Pro', Courier, mono;


$font-size: 1rem;
$font-size-h1: 2rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.6rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;



/// Colors ///
$bg-outside: #eee;
$bg-primary: #fff;
$bg-brand-primary: #1da0c1;
$color-over-brand: #fff;
$color-primary: #666;

$color-link: $bg-brand-primary;

$bg-header-container: rgba(255, 255, 255, 0.95);
$bg-header-container-scrolled: rgba(0,0,0, 0.6);
$bg-header: unset;
$bg-header-scrolled: unset;
$bg-under-header-container: $bg-brand-primary;
$bg-under-header: inherit;
$bg-main-container: $bg-outside;
$bg-main: $bg-primary;
$bg-footer-container: $bg-brand-primary;
$bg-footer: inherit;

$form-border-color: #c9c9c9;

// Specific color declarations;
$color-green: #5cb85c;
$color-amber: #ec971f;
$color-red: #d9534f;


// Common color use

$color-success: $color-green;
$color-warning: $color-amber;
$color-error: $color-red;




/// z-index values ///

$z-index-normal: 0;
$z-index-above: 10;
$z-index-high: 20;
$z-index-higher: 30;
$z-index-highest: 40;
$z-index-exceptional: 9999;

/// Forms ///

$form-input-height: 2.2rem;
$form-input-font-size: 1.3rem;
$form-input-padding: 0 0.3rem 0 3rem;


/// Vendor Overrides ///


/// Normalize Scss - These adjustments will enable vertical rhythm. Delete if not wanted

$base-font-size: 16px;
$base-unit: 'rem';
$base-font-family: $font-sans-serif;


/// Reflex Grid

$reflex-xs: 320px;


/// Hamburgers

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;

// Dev section
$debug-containers: false;