nav.desktop-menu {
  // Top Level
  ul {
    padding-left: 0;
    margin: 0;
    position: relative;
    li {
      list-style: none;
      display: inline-block;
      position: relative;

      &:not(:last-child) {
        margin-right: 1rem;
      }
      a {
        outline: none; // Using border bottom on focus to maintain accessibility
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent; // For color transition
      }
      &.active, &.child-active {
        > a {
          color: $color-desktop-menu-active;
          border-bottom: 2px solid $color-desktop-menu-highlighted;
        }
        &.open {
          > a {
            border-bottom: none;
          }
        }
      }
      // Sub menus
      ul {
        display: none;
        position: absolute;
        left:10px;
        z-index: $z-index-high;
        width: 170px;
        background-color: $bg-desktop-menu-subitem;
        box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.14);
        border-radius: 3px;
      }
      &.open {
        > ul {
          display: flex;
          flex-direction: column;
          li {
            a {
              transition:background-color linear 0.3s;
              display: block;
              padding: 5px 5px 5px 10px;
              box-sizing: border-box;
              color: $color-desktop-menu-subitem;
              &:hover, &:focus {
                color: $color-desktop-menu-subitem-highlighted;
                &:first-of-type {
                  border-top-left-radius: 3px;
                  border-top-right-radius: 3px;
                }
                &:last-of-type {
                  border-bottom-left-radius: 3px;
                  border-bottom-right-radius: 3px;
                }
                background-color: $bg-desktop-menu-subitem-highlighted;
              }
              .fa {
                position: absolute;
                text-align: right;
                right:15px;
                top:8px;
                font-size: 1.3rem;
              }
            }

            &.active {
              a {
                color: $color-desktop-menu-active;
                border-bottom: none;
                &:hover, &:focus {
                  color: $color-desktop-menu-subitem-highlighted;
                }
              }
            }

            // Children of submenu
            &.open {
              ul {
                top: 2px;
                left: 165px;
                li {
                  width: 170px;
                }
              }
            }
          }
        }
      }
    }
  }
}