<grid>
    <div class="col-12 text-center">
        <button class="hamburger hamburger--elastic slideout" type="button" data-targets="slideout-menu-left">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
        </button>

        <button class="hamburger hamburger--elastic dropdown" type="button" data-targets="hidden-rolldown-main">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
        </button>
    </div>
</grid>