{# This partial is for use with the Static Pages plugin menu components. It only outputs a list so wrap it up in a nav etc #}
{% import _self as menu %}

{% macro recursiveMenu(item) %}
    {% import _self as menu %}

    {% spaceless %}
    <li class="{{- item.isActive ? "active " : "" }}
                {{- item.isChildActive ? "child-active " : "" }}
                {{- item.viewBag.cssClass }}
                {%- if item.items|length > 0 %}has-children{% endif %}">

        <a href="{{ item.url }}">{{ item.title }}</a>

        {% if item.items|length > 0 %}
            <ul class="sub_item">
                {% for child in item.items %}
                    {{ menu.recursiveMenu(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endspaceless %}

{% endmacro %}

<ul class="navigation-list">
    {% for item in __SELF__.menuItems if not item.viewBag.isHidden %}
        {{ menu.recursiveMenu(item) }}
    {% endfor %}
</ul>