<footer>
    <div class="container-full" id="footer-main">
    <div class="container" id="footer-container">
        <div class="grid justify-center outer">

                <div class="col-md-4">
                    <div class="link-section">
                        <h3>Site Footer Block</h3>
                        <ul>
                            <li>Link one</li>
                            <li>Link two</li>
                            <li>Link three</li>
                        </ul>
                    </div>
                </div>


            <div class="col-md-4">
                <div class="link-section">
                    <h3>Site Footer Block</h3>
                    <ul>
                        <li>Link one</li>
                        <li>Link two</li>
                        <li>Link three</li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <div class="link-section">
                    <h3>Site Footer Block</h3>
                    <ul>
                        <li>Link one</li>
                        <li>Link two</li>
                        <li>Link three</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-full" id="footer-below">
    <div class="container">
        <div class="grid align-center">
            <div class="col-12 by-line">
                <p>Website by <a href="https://dynamedia.uk?utm_source={{ this.theme.site_name | url_encode }}&utm_medium=Website&utm_campaign={{ 'Website Byline' |url_encode  }}">Dynamedia</a></p>
            </div>
        </div>
    </div>
    </div>
</footer>