<header class="container">
    <div class="grid">
        <div class="col-3 align-self-center">
            <a href="/"><img class="logo" src="{{'assets/dist/images/logo.png'|theme}}" alt="Site Logo"></a>
        </div>
        <div class="col-9 align-self-center">
            <div class="grid">
                <div class="col-12">
                    <div class="grid">
                        <nav class="col-12 hidden-xxs hidden-xs hidden-sm" id="main-upper-nav">
                            {% partial 'navigation/main-upper-nav' %}
                        </nav>
                        <nav class="col-12 hidden-md hidden-lg hidden-xlg" id="hidden-menu-trigger">
                            <button class="hamburger hamburger--slider" type="button"
                                    aria-label="Menu" aria-controls="navigation" aria-expanded="false">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                            </button>
                        </nav>
                    </div>
                </div>

                <nav class="col-12 hidden-xxs hidden-xs hidden-sm" id="main-lower-nav">
                    {% partial 'navigation/main-lower-nav' %}
                </nav>
            </div>
        </div>
    </div>
</header>