<header class="fixed slideout-shift" id="fixed-header">
    <div class="container-full" id="header-fixed">
        <div class="container" id="header-fixed-container">
            <div class="shrink-wrap">
                <div class="grid align-center">
                    <div class="col-3 start">
                        <a href="/">
                            <a href="/" class="logo"><img class="left shrinks" src="{{ 'assets/dist/images/logo-compact.png' | theme }}"></a>
                        </a>

                    </div>
                    <div class="col-6 middle">
                        <h1 class="shrinks"><marquee>Fixed Header - Maybe don't use a marquee but demo because limited space up here!</marquee></h1>
                    </div>
                    <div class="col-3 end">
                        <button class="hamburger hamburger--elastic slideout shrinks" type="button" data-targets="slideout-menu-right">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>