description = "2 Column Right Sidebar"

[cookieBanner]
include_css = 0
hard_reload = 0
update_partial = "gdpr"
update_selector = "#gdpr-reload"
cookie_manager_page = "cookies"

[staticMenu staticMenuMainNavUpper]
code = "main-nav-upper"

[staticMenu staticMenuMainNavLower]
code = "main-nav-lower"

[staticMenu staticMenuMobileNav]
code = "mobile-nav"

[staticMenu staticMenuFooterLegal]
code = "footer-legal"

[ContactForm]
formId = 1
==
<!DOCTYPE html>

<html lang="en">

<head>
    {% partial 'layout/default/head' %}
</head>

<body>

<div class="container-full header-container fixed slideoutMoveMe">
    {% partial 'layout/default/header' %}
</div>

<div class="container-full under-header-container slideoutMoveMe">
    {% partial 'layout/default/under-header' %}
</div>


<div id="slideout-wrapper">
    <div class="container-full main-container">
        <div class="grid">
            <div class="col-12 col-md-9">
                {% page %}
            </div>

            <div class="col-12 col-md-3">
                {% partial 'layout/2-column/sidebar' %}
            </div>
        </div>
    </div>

</div>

<div class="container-full footer-container slideoutMoveMe">
    {% partial 'layout/default/footer' %}
</div>

<nav class="grid" id="slideout-menu">
    <div class="col-12">
        {% component 'staticMenuMobileNav' %}
    </div>
</nav>

{% component 'cookieBanner' %}


<div id="contact-modal" class="iziModal" data-iziModal-title="Contact Us"  data-iziModal-subtitle="Get in touch" data-izimodal-preventclose="true" data-iziModal-icon="fa fa-comment">
    <div class="grid">
        <div class="col-12">
            {% component 'ContactForm' %}
        </div>
    </div>
</div>

<div id="gdpr-reload">
    {% partial 'gdpr' %}
</div>

{% partial 'scripts' %}
</body>

</html>