description = "Single column layout"

[cookieBanner]
include_css = 0
hard_reload = 0
update_partial = "gdpr"
update_selector = "#gdpr-reload"
cookie_manager_page = "cookies"

[staticMenu staticMenuMainNavUpper]
code = "main-nav-upper"

[staticMenu staticMenuMainNavLower]
code = "main-nav-lower"

[staticMenu staticMenuMobileNav]
code = "mobile-nav"

[staticMenu staticMenuFooterLegal]
code = "footer-legal"

[ContactForm]
formId = 1
==
<!DOCTYPE html>
<html lang="en" data-scrolled="0">

{% spaceless %}
<head>
    {% partial 'layout/default/head' %}
</head>
{% endspaceless %}

<body>

{% partial 'layout/default/header-fixed' %}

<div id="slideout-panel">
{% partial 'layout/default/header' %}
{% partial 'navigation/hamburger' %}
{% partial 'navigation/mobile-rolldown' menuComponent="staticMenuMobileNav" %}
{% partial 'layout/default/under-header' %}
{% partial 'layout/default/page' %}
{% partial 'layout/default/footer' %}
</div>

{# These menus are kept outside of the main menu panel wrapper #}
{% partial 'navigation/mobile-slideout-left' menuComponent="staticMenuMainNavUpper" %}
{% partial 'navigation/mobile-slideout-right' menuComponent="staticMenuMainNavUpper" %}

{% component 'cookieBanner' %}


<div id="contact-modal" class="iziModal" data-iziModal-title="Contact Us"  data-iziModal-subtitle="Get in touch" data-izimodal-preventclose="true" data-iziModal-icon="fa fa-comment">
    <div class="grid">
        <div class="col-12">
            {% component 'ContactForm' %}
        </div>
    </div>
</div>


{# gdpr-reload div generally contains scripts which set cookies etc. #}
<div id="gdpr-reload">
    {% partial 'gdpr' %}
</div>

{% partial 'scripts' %}
</body>

</html>