.header-container {
  @if($debug-containers == true) {
    border: 2px solid red;
  }
  background-color: $bg-header-container;
  &.fixed {
    position: fixed;
    top:0;
    left:0;
    z-index: $z-index-highest;
  }
  header {
    @if ($debug-containers == true) {
      border: 2px solid blue;
    }
    background-color: $bg-header;
    .brand-space {
      a {
        display: block;
        max-width: 90%;
      }
      img {
        &.logo {
          width: 100%;
        }
      }
    }
    @import "../component/navigation/desktop";
    @import "../component/navigation/mobile";
  }
  &.scrolled {
    background-color: $bg-header-container-scrolled;
    color: #fff;
    header {
      background-color: $bg-header-scrolled;
    }
  }
}
