.masonry {
  column-count: 1;
  column-gap: 0;
  counter-reset: item-counter;

  @include breakpoint-xxs {
    column-count: 2;
  }
  @include breakpoint-xs-plus {
    column-count: 2;
  }

  @include breakpoint-md-plus {
    column-count: 3;
  }

  @include breakpoint-lg-plus {
    column-count: 4;
  }

  //@include breakpoint-xlg-plus {
  //  column-count: 5;
  //}

}

.item {
  box-sizing: border-box;
  break-inside: avoid;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 310px;
    box-sizing: border-box;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      font-weight: bold;
    }
    &--small {
      height: 240px;
    }
    &--medium {
      height: 270px;
    }
    &--large {
      height: 350px;
    }
  }
  .img-container {
    width:100%;
    height: 70%;
    box-shadow: 0 8px 6px -6px #999;
    img {
      object-fit: cover;
      width: 100%;
      height:100%;
    }
  }
  &.no-info {
    .img-container {
      height: 100%;
    }
  }
  .img-info {
    box-sizing: border-box;
    width: 100%;
    height:30%;
    padding: 5px 10px;
    background-color: #fafafa;
    box-shadow: 0 8px 6px -6px #999;
    overflow: hidden;
    p {
      margin-bottom: 0;
      margin-top: 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:first-child {
        margin-top: 0;
        text-align: center;
        font-weight: 500;
      }
    }
  }
  &.no-info {
    .img-info {
      display: none;
    }
  }
}