title = "Services List"
url = "/services/list/:categorySlug/:page?"
layout = "default"
is_hidden = 0

[listItems]
typeSlug = "{{ :typeSlug }}"
categorySlug = "{{ :categorySlug }}"
searchQuery = "{{ :searchQuery }}"
sortBy = "sort_order"
sortOrder = "asc"
typeIds = "{{ :typeIds }}"
categoryIds = "{{ :categoryIds }}"
pagination = "normal"
itemsPerPage = 12
ajaxItemsContainer = "item-list"
ajaxPagerContainer = "item-list-pagination"
typePage = "services-list"
categoryPage = "services-list"
itemPage = "item-display-generated-type"
==
{% import _self as menu %}
{% macro recursiveMenu(item) %}
    {% import _self as menu %}
    <li class="{{ item.isActive ? "active" : "" }} {{ item.isChildActive ? "active-child" : "" }}">
        <a href="{{ item.url }}">{{ item.title }}</a>

        {% if item.items|length %}
            <ul>
                {% for child in item.items %}
                    {{ menu.recursiveMenu(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<ul>

{% for item in staticMenuMainNavUpper.menuItems %}
    {{ menu.recursiveMenu(item) }}
{% endfor %}
</ul>

{% component 'listItems' %}