{% set post = __SELF__.post %}

<article class="grid blog-post">

    {% if post.featured_images.count %}
    <div class="col-12 featured-image-container">
        <img src="{{ post.featured_images.first.path }}">

        <div class="grid info-container align-end">
            <div class="col-12">
                <h1>
                {{ post.title }}
                </h1>
                <p>
                Posted
                {% if post.categories.count %} in
                    {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
                on {{ post.published_at|date('M d, Y') }}
                </p>
            </div>
        </div>
    </div>

    {% else %}
    <div class="col-12">
        <h1>
            {{ post.title }}
        </h1>
        <p>
        Posted
        {% if post.categories.count %} in
            {% for category in post.categories %}
                <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
        on {{ post.published_at|date('M d, Y') }}
        </p>
    </div>

    {% endif %}

    <div class="col-12">
        <div class="float-container">
            {{ post.content_html|raw }}
        </div>
    </div>

</article>